@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

:root {
  --primary-bg-gradient: linear-gradient(to right, #ff6699, #ffcc99);
  --text-gradient: linear-gradient(to right, #ec4899, #f43f5e, #f77f00);
}

.primary-bg {
  background: var(--primary-bg-gradient); 
}

.text-color {
  background: var(--text-gradient); 
  -webkit-text-fill-color: transparent;
}


.hover-gradient {
  @apply bg-gradient-to-r from-pink-500 to-orange-500;
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease;
}

.hover-gradient:hover {
  background-position: left bottom;
}

.active {
  border-bottom: 2px solid pink;
}

.hamburger {
  position: relative;
  z-index: 10; 
}
.logo {
  position: relative;
  z-index: 10; 
}
.links {
  position: fixed;
  z-index: 2000;
}
